<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>Flaskboard</title>
  </head>
  <body>
	<h1>Flaskboard</h1>
	<h2>The anonymous messageboard powered by Flask.</h2>
	<hr>
	{% for i in boardlist %}
	<table class="boardrow">
	<TR><TD class="boardname"><b><a href="boards/{{ i[0]}}">{{ i[0] }}</a></b></TD></TR>
	<TR><TD class="postcontent">{{ i[2] }}</TD></TR>
	</table>
	{% endfor %}
	<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>	  
  </body>
</html>
