<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <title>{{ title }} - Flaskboard</title>
  </head>
  <body onload="scrollToAnchor()">
	<h1><a href="/">Flaskboard</a> - <a href="/boards/{{ b }}">{{ b }}</a></h1>
	<form action="/boards/{{ b }}/threads/postreply/{{ ident }}" method="post">
		<table>
			<TR>
			<TD>Name: </TD>
			<TD><input type="text" name="subject"></input></TD>
			</TR>
			<TR>
			<TD>Link: </TD>
			<TD><input type="text" name="attachment"></input></TD>
			</TR>	
			<TR>
			<TD>Reply content:</TD>
			</TR>
		</table>
		<textarea name="content" maxlength="500" required rows=5></textarea>
		<input type="submit" value="Post a reply">
	</form>
	<hr>
		<table>
			<TR><TD class="postname"><b>Subject: {{ op[0] }} | <a id="#{{ op[2] }}" href="#{{ op[2] }}">ID: {{ op[2] }}</a></b></TD></TR>
			{% if op[2] != '' %}
			<TR><TD class="postattachment"><a href="{{ ''.join(['http://', op[3]]) }}">{{ op[3] }}</a></TD></TR>
			{% endif %}
			<TR><TD class="postcontent">{{ op[1] }}</TD></TR>
		</table>
	<hr>
	{% for i in posts %}
		<table class="postbody" name="{{ i[3] }}">
		<TR><TD class="replyname"><b>Name: {{ i[0] }} | <a id = "#{{ i[3]}}" href="#{{ i[3]}}">ID: {{ i[3] }}</a></b></TD></TR>
		{% if i[2] != '' %}
		<TR><TD class="postattachment"><a href="{{ ''.join(['http://', i[2]]) }}">{{ i[2] }}</a></TD></TR>
		{% endif %}
		<TR><TD class="postcontent">{{ i[1] }}</TD></TR>
		</table>
	{% endfor %}
	<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>	
  </body>
</html>
