p {
  width: 500px;
}
html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Roboto', sans-serif;
  background-color: #636363;
}
body {
  width: 80%;
  margin: 10px auto;
  background-color: #FFFFFF;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}	
form {
  width: 100%;
}
textarea {
  resize: none;
  width: 100%;
}
.postbody, .boardrow {
  border: 1px solid black;
  margin: 0px 0px 10px;
  box-shadow: 2px 2px 2px #888888;
  width: 100%;
  table-layout:fixed;
  word-break: break-all;
}
.boardrow:hover {
  background-color: #A5C6E0;
}
.postname {
  font-size: 14px;
}
.boardname {
  font-size: 18px;
  text-decoration: none !important;
}
.postcontent {
  font-size: 12px;
  white-space: pre-wrap;
}
a {
  color: #556775;
}
